@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #1c2233;
}

.container {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.DivLinks {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    background-color: #373f55;
    margin: 10px;
    border-radius: 15px;
}

.tituloprincipal{
    text-align: center;
    color: white;
    font-family: "Montserrat Alternates", sans-serif;
}

.titulodiv {
    text-align: center;
    color: #8744CD;
    font-family: "Krona One", sans-serif;
    font-size: medium ;
}

.texto {
    color: #d8d1CD;
    font-family: "Krona One", sans-serif;
    font-size: x-small;
}

